body {
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
}

header>div {
    display: flex;
}

.logo-header {
    width: 75%;
}

.header-links {
    width: 19%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.active:hover {
    border-top: 1px blue solid;
    color: blue;
    cursor: pointer;
}
#register {
    color:blue;
}
.logo {
    height: 50px;
}

#search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
div>#search-bar {
    height: 35px;
}
button>span {
    display: block;
}

#search-bar button>i.fas {
    display: none;
}
#search-button {
    color:white;
    background-color:#0065fc;
    height: 35px;
    border-radius: 0px 8px 8px 0px;
    border-width: 0px;
}
#search-button:hover {
    cursor: pointer;
}
input {
    height: 29px;
}
.fa-map-marker-alt {
    height: 35px;
    background: lightgray;
    width: 25px;
}

#filters {
    display: flex;
    align-content: center;
    font-weight: bold;
    flex-wrap: wrap;
}

#filters>div {
    padding-right: 20px;
}
.heading {
    padding-top: 12px;
}
.filter {
    margin: 10px;
    display: inline-block;
    inline-size: fit-content;
}

.filter-icon button {
    display: inline-block;
    height: auto;
    width: auto;
    border: 2px solid lightgray;
    border-radius: 35px;
    outline: none;
    background-color: white;
    padding: 0px 20px;
    cursor: pointer;
}

.filter-icon button i {
    position: relative;
    border-radius: 50%;
    align-items: center;
    padding: 15px;
    background-color: #DEEBFF;
    left: -21px;
    color: blue;
}

.blue {
    color: #0065fc;
}

.gray {
    color: #d9d9d9;
}

.accomodation-resize {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

#accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#accomodations-background {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 65%;
    padding: 10px;
    padding-bottom: 20px;
    margin: 10px;
    object-fit: contain;
}

#top {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

#popular-background {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 25%;
    padding: 10px;
    margin: 10px auto;
}

section#top {
    display: flex;
}

.popular-card {
    display: flex;
    flex-direction: row;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.popular-resize {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.popular-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.popular-card>div {
    justify-content: space-between;
}

.accomodation-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 5px;
    width: 380px;
    margin: 5px;
    padding: 5px;
    background-color: white;
}

.accomodation-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#activities-flex {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
}

#activities-flex>div {
    width: 23%;
}

.image-resize {
    max-width: 100%;
    object-fit: cover;
    height: 490.79px;
}

.image-resize-half {
    min-width: 100%;
    object-fit: cover;
    max-height: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 5px;
    min-width: 100%;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 5px 5px 0 0;
}

.half {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

footer {
    background-color: #F2F2F2;
    display: flex;
}

footer div {
    flex: auto;
    line-height: 25px;
    margin: 20px;
}

ul {
    list-style-type: none;
    justify-content: left;
    padding: 0;
}

@media screen and (max-width : 320px) {

    button>span {
        display: none;
    }

    button>i.fa-search {
        display: block;
    }

    #accomodations-background {
        order: 2;
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #popular-background {
        width: 100%;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .popular-resize {
        max-height: 200px;
        width: 280px;
        object-fit: cover;
    }
    .popular-card {
        flex-wrap: wrap;
    }
    .image-resize {
        max-height: 200px;
    }
    footer {
        flex-wrap: wrap;
    }
    #filter {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    #activities-flex {
        flex-wrap: wrap;
    }

    #activities-flex>div {
        width: auto;
    }
}